<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create New Article</title>
  </head>
  <body>
    <h1>New Article</h1>
    <input type="text" id="title" placeholder="Title"><br/><br/>
    <textarea id="content" placeholder="Content"></textarea><br/>
    <button id="submit">Submit</button>
    <button id="getArticles">Get all articles</button>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script>
      var article = {title:"", content:""};
      $('#submit').click(function(event){
        article.title = $('#title').val();
        article.content = $('#content').val();
        $.ajax({
          method:"POST",
          url:"/article/create",
          data: article
        }).done(function(response){
          console.log(response);
        }).fail(function(response){
          console.log(response.responseText);
        });
      });
      $('#getArticles').click(function(event){
        $.ajax({
          method:"GET",
          url:"/article/list"
        }).done(function(response){
          console.log(response);
        }).fail(function(response){
          console.log(response.responseText);
        });
      });
    </script>
  </body>
</html>